@charset "UTF-8";

/**
 *
 * @authors Your Name (you@example.org)
 * @date    2016-03-19 20:59:24
 * @version $Id$
 */
* {
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 20px;
}
.flex-item1, .flex-item2, .flex-item3, .flex-item4 {
    width: 150px;
    padding: 20px;
    font-size: 10px;
}
.flex-item1, .flex-item2, .flex-item3 {
    border: 1px solid #f00;
}
.flex-item1 {
    height: 120px;
}
.flex-item2 {
    height: 100px;
}
.flex-item3 {
    height: 40px;
}
.flex-item4 {
    height: 200px;
    border: 1px solid #0f0;
}
@media screen and (max-width:640px) {
    .flex-container {
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .flex-item4 {
        order: -1;
        margin-bottom: 20px;
    }
}
