html, body {
    font-family: '微软雅黑' 'STXihei', Times, Serif;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f3f3f3;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}
body * {
    box-sizing: border-box;
    max-height: 9999.99rem;
    -webkit-text-size-adjust: none;
}
.container {
    position: relative;
    width: 10rem;
    height: 100%;
    margin: 0 auto;
}

/* 后面四句是CSS3中的样式定义方法；
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
分别定义p的上边距和下边距的数值是1倍字体高度，如10px像素的字，那么边距就为10px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
 上面二句则定义为左右边距都为0px */
ul {
    overflow: hidden;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
div {
    word-wrap: break-word;
    word-break: break-all;
}

/* 标题 */
.title {
    font-size: .5rem;
    line-height: 1.14rem;
    width: 100%;
    height: 1.14rem;
    text-align: center;
    color: #fff;
    background-color: #91d4da;
}
.title .back {
    line-height: 1.14rem;
    position: absolute;
    left: .3rem;
    height: 1.14rem;
}

/* end */

/* nav */
.page {
    position: absolute;
    top: 1.14rem;
    bottom: 0;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    background-color: #f3f3f3;
}
.tip {
    width: 100%;
    background-color: #fff;
}
.tip li {
    font-size: .4rem;
    line-height: 1.16rem;
    display: inline-block;
    float: left;
    width: 20%;
    height: 1.16rem;
    text-align: center;
}
.tip .active {
    border-bottom: .06rem solid #91d4da;
}

/* end */
.page-container {
    /* 允许独立的滚动区域和触摸回弹 */
    -webkit-overflow-scrolling: touch;
}
.top {
    background-color: #fff;
}
.top .top_pic {
    width: 100%;
    height: 5.5rem;
    border: none;
    background: url(../static/images/xiong_top.png);
    background-size: 100%;
}
.top .note {
    font-size: 0;
    padding: .45rem;
}
.top .note li {
    display: inline-block;
    width: 1.24rem;
    margin-right: .7rem;
}
.top .note li .pic {
    width: 1.24rem;
    height: 1.24rem;
    border-radius: 100%;
    background: url(../static/images/note.png) no-repeat center;
    background-color: #91d4da;
    background-size: 50%;
}
.top .note li .text {
    font-size: .36rem;
    width: 100%;
    margin-top: .4rem;
    text-align: center;
}
.top .note .none {
    margin: 0;
}
.top .cols {
    font-size: 0;
    margin: 0 .3rem;
    padding: .36rem 0;
    border-top: .01rem solid #e5e5e5;
}
.top .cols .col {
    display: inline-block;
    width: 3.1rem;
    padding: .1rem 0;
    text-align: center;
    border-right: .01rem solid #e5e5e5;
}
.top .cols .col .pic {
    width: 100%;
    height: 1.66rem;
}
.top .cols .col .pic_1 {
    background: url(../static/images/xiong_1.png) no-repeat center;
    background-size: 1.5rem;
}
.top .cols .col .pic_2 {
    background: url(../static/images/xiong_2.png) no-repeat center;
    background-size: 1.5rem;
}
.top .cols .col .pic_3 {
    background: url(../static/images/all.png) no-repeat center;
    background-size: 2.5rem;
}
.top .cols .col .text_1 {
    font-size: .5rem;
    width: 100%;
    margin-top: .1rem;
    text-align: center;
}
.top .cols .col .text_2 {
    font-size: .3rem;
    width: 100%;
    margin-top: .1rem;
    text-align: center;
    color: #585858;
}
.top .cols .none {
    border: none;
}
.module_1 {
    font-size: 0;
    margin-top: .3rem;
    padding: 0 .3rem;
    background-color: #fff;
}
.module_1 .tit {
    font-size: .5rem;
    line-height: 1.16rem;
    height: 1.16rem;
    color: #676767;
    border-bottom: .01rem solid #e5e5e5;
}
.module_1 .rows {
    margin: .36rem 0;
}
.module_1 .rows .left {
    display: inline-block;
    width: 2.4rem;
    height: 2.24rem;
    border: .01rem solid #fbb22f;
    background: url(../static/images/xiong_1.png) no-repeat top;
    background-size: 3.4rem;
}
.module_1 .rows .right {
    display: inline-block;
    vertical-align: top;
}
.module_1 .rows .right .col {
    font-size: .3rem;
    line-height: .94rem;
    display: inline-block;
    width: 3.14rem;
    height: 1rem;
    margin-left: .26rem;
    margin-left: .24rem;
    text-align: center;
    background-color: #f8f8f8;
}
.module_1 .rows .right .btm {
    margin-bottom: .24rem;
}
.module_3 .border {
    border-bottom: .01rem solid #e5e5e5;
}
.module_3 .row {
    padding: .2rem .3rem;
    background-color: #fff;
}
.module_3 .row .left {
    display: inline-block;
    width: 2.8rem;
    height: 2rem;
    border: .01rem solid #e5e5e5;
    background: url(../static/images/xiong_1.png) no-repeat center;
    background-size: 2rem;
}
.module_3 .row .right {
    position: relative;
    display: inline-block;
    float: right;
    width: 6rem;
    height: 2rem;
}
.module_3 .row .right .top {
    font-size: .44rem;
    line-height: .6rem;
}
.module_3 .row .right .btm {
    font-size: .36rem;
    position: absolute;
    bottom: 0;
    color: #c3c3c3;
}
.module_3 .row .ti {
    font-size: .44rem;
    line-height: .8rem;
    margin: .1rem 0;
}
.module_3 .row .imgs .img {
    display: inline-block;
    width: 2.8rem;
    height: 2rem;
    margin-right: .35rem;
    border: .01rem solid #e5e5e5;
    background: url(../static/images/xiong_2.png) no-repeat center;
    background-size: 1.8rem;
}
.module_3 .row .imgs .none {
    margin-right: 0;
}
.module_3 .row .time {
    font-size: .36rem;
    line-height: .8rem;
    color: #c3c3c3;
}
